.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.navButton {
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: inherit;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #04AA6D !important;
    color: white !important;
    padding: 10px 20px;
    border: none;
    outline: 0;
    white-space: normal;
    width: 93px;
    height: 21px;
    border-radius: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 98vw;
    border: 0.5rem;
    border-style: dashed;
    border-color: #04AA6D;
}

.nav{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    display: flex;
    width:98vw;
    border: 0.5rem;
    border-style: dashed;
    border-color: #04AA6D;
}