html, body {
    height: 100%;
  }

.container{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.nav{
    display: flex;
    grid-row: 1/2;
    justify-content: center;
    position: absolute;
    top: 0%;
    display: flex;
    width:98vw;
    border: 0.5rem;
    border-style: dashed;
    border-color: #04AA6D;
}

.main {
    grid-row: 2/9;
    display: flex;
    flex-wrap: wrap;
    /*position: absolute;
    top: 50%;*/
    justify-content: center;
    align-content: center;
}

.navButton {
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #04AA6D !important;
    color: white !important;
    padding: 10px 20px;
    border: none;
    outline: 0;
    width: 93px;
    height: 21px;
    border-radius: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    grid-row: 9/10;
    /*
    position: absolute;
    bottom: 0;
    */
    width: 98vw;
    border: 0.5rem;
    border-style: dashed;
    border-color: #04AA6D;
}